.box .imgBox {
  width: 100%;
  height: 4rem;
  display: flex;
}

.box .imgBox .slide {
  width: 100%;
  height: 4rem;
}

.box .imgBox .slide img {
  width: 100%;
  height: 100%;
}

.goods_category {
  width: 100%;
  height: 0.86rem;
  background: #ffffff;
  margin-bottom: 0.1rem;
  display: flex;
}

.goods_category li {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-bottom: 0.15rem;
  text-align: center;
}

.brandTitle {
  height: 1rem;
  background: #ffffff;
  line-height: 1rem;
  text-align: center;
}
