.bcColor {
  background: #f5f5f9;
}

.bcColor .goods_category {
  width: 100%;
  display: flex;
  width: 100%;
  height: 1.4rem;
  padding: 0.1rem 0;
  background: white;
}

.bcColor .goods_category li {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  text-align: center;
}

.bcColor .goods_category li .iconImg {
  height: 70%;
  width: 1rem;
  display: block;
  padding: 0.2rem;
  margin: auto;
}

.bcColor .brandBox {
  background: white;
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  overflow: hidden;
}

.bcColor .brandTitle {
  height: 1rem;
  background: white;
  text-align: center;
  font-size: 0.3rem;
  line-height: 1rem;
  font-weight: bold;
}

.bcColor .brandWrap {
  background: white;
  display: flex;
  flex-wrap: wrap;
}

.bcColor .brandWrap .brandItem {
  width: 50%;
  height: 2.2rem;
  display: flex;
  position: relative;
  color: #000;
}

.bcColor .brandWrap .brandItem .imgLazyload {
  width: 100%;
  height: 100%;
}

.bcColor .brandWrap .brandItem .brandItemlt {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}

.bcColor .brandWrap .brandItem .brandItemName {
  font-size: 0.3rem;
}

.bcColor .brandWrap .brandItem .brandItemMinPrice {
  font-size: 0.23rem;
  color: darkgrey;
}

.bcColor .newGoodsBox {
  background: white;
}

.bcColor .newGoodsBox .newGoodsTitle {
  height: 1rem;
  background: white;
  text-align: center;
  font-size: 0.3rem;
  line-height: 1rem;
  font-weight: bold;
}

.bcColor .newGoodsBox .newGoodsWrap {
  background: white;
  display: flex;
  flex-wrap: wrap;
}

.bcColor .newGoodsBox .newGoodsWrap .newGoodsItem {
  width: 50%;
  height: 5rem;
}

.bcColor .newGoodsBox .newGoodsWrap .newGoodsItem .imgLazyload {
  width: 100%;
  height: 70%;
}

.bcColor .newGoodsBox .newGoodsWrap .newGoodsItem .newGoodsName,
.bcColor .newGoodsBox .newGoodsWrap .newGoodsItem .newGoodsPrice {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.3rem;
  color: #000;
}

.bcColor .newGoodsBox .newGoodsWrap .newGoodsItem .newGoodsPrice {
  color: darkred;
}

.bcColor .hotGoodsBox .hotGoodsWrap {
  width: 100%;
  padding: 0 0.2rem;
  background: white;
}

.bcColor .hotGoodsBox {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
}

.bcColor .hotGoodsBox .hotGoodsTitle {
  height: 1rem;
  background: white;
  text-align: center;
  font-size: 0.3rem;
  line-height: 1rem;
  font-weight: bold;
}

.bcColor .hotGoodsBox .hotGoodsWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.2rem;
}

.bcColor .topGoodsBox {
  margin-top: 0.2rem;
  background: white;
}

.bcColor .topGoodsBox .topGoodsTitle {
  height: 0.8rem;
  background: white;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.8rem;
  font-weight: bold;
}

.bcColor .topGoodsBox .topGoodsWrap {
  height: 5.2rem;
  padding-bottom: 0.2rem;
  width: 100%;
  display: flex;
}

.bcColor .topGoodsBox .slide {
  height: 6rem;
  width: 100%;
}

.bcColor .topGoodsBox .slide .topGoodsItem {
  height: 6rem;
}

.bcColor .topGoodsBox .slide .topGoodsItem .imgLazyload {
  height: 4rem;
  width: 100%;
}

.bcColor .topGoodsBox .slide .topGoodsItem .topGoodSubTitle {
  margin-top: 0.1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bcColor .topGoodsBox .slide .topGoodsItem .topGoodSubTitle .topGoodPrice {
  color: darkred;
}

.bcColor .topGoodsBox .slide .topGoodsItem .topGoodsTitle {
  color: gray;
  text-align: left;
  font-size: 0.24rem;
}

.bcColor .cateGoryBox {
  height: auto;
}

.bcColor .cateGoryBox .cateGoryName {
  height: 1rem;
  text-align: center;
  font-size: 0.3rem;
  line-height: 1rem;
  letter-spacing: 0.02rem;
  font-weight: bold;
}

.bcColor .cateGoryBox .cateGoryGoodsWrap {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
}

.bcColor .cateGoryBox .categoryMoreGoods {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.bcColor .cateGoryBox .categoryMoreGoods .categoryMoreGoods > div {
  width: 100%;
  text-align: center;
  margin-top: 0.2rem;
}

.bcColor .cateGoryBox .categoryMoreGoods img {
  padding: 0.4rem;
  height: 2rem;
  width: 2rem;
}
