.hotGoodsItem {
  height: 2.5rem;
  position: relative;
  display: flex;
  margin-bottom: 0.02rem;
  background: white;
  padding: 0.2rem;
  width: 100%;
  overflow: hidden;
  width: 100%;
}

.hotGoodsItem .imgLazyload {
  width: auto;
  height: 100%;
}

.hotGoodsItem .hotGoodsInfos {
  flex: 1;
  padding: 0.5rem 0;
}

.hotGoodsItem .hotGoodsInfos .hotGoodsName {
  font-size: 0.32rem;
  padding: 0.1rem 0;
}

.hotGoodsItem .hotGoodsInfos .hotGoodsInfo {
  color: darkgray;
  font-size: 0.28rem;
  padding: 0.1rem 0;
}

.hotGoodsItem .hotGoodsInfos .hotGoodsPrice {
  color: darkred;
  font-size: 0.3rem;
  padding: 0.1rem 0;
}

.hotGoodsItem .colse {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 2.98rem;
  background: red;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.36rem;
}

.hotGoodsItem .show {
  display: none;
}
