*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #235;
}
#root,html,body{
    width: 100%;
    height: 100%;
     font-size: 0.3rem
}
.homeBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.imgBox{
    width: 100%;
    height: 1.87rem;
    display: flex;
}
.slide {
    width: 100%;
    height: 1.87rem;
}

.slide img {
  width: 100%;
  height: 100%;
}
.main{
    flex: 1;
}