.channel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  header {
    height: 1rem;
    background: #fff;
  }
  .channelClassifyBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .tabWrap {
      width: 100%;
      height: 0.64rem;
      .am-tabs {
        .am-tabs-default-bar-content {
          width: 100%;
        }
        .am-tabs-default-bar-tab {
          height: 0.64rem;
        }
      }
    }
    .goodsListBox {
      width: 100%;
      height: 100%;
      flex: 1;
      overflow: scroll;
      div {
        .categoryDetail {
          padding: 0.2rem 0;
          box-sizing: border-box;
        }
        .categoryDetail > div {
          height: 0.6rem;
          line-height: 0.6rem;
          text-align: center;
        }
        .categoryDetail > div:nth-child(2) {
          color: gray;
          height: 0.5rem;
          line-height: 0.5rem;
          font-size: 0.28rem;
        }
      }

      .goodsList {
        display: flex;
        flex-wrap: wrap;
        .goodsItem {
          width: 50%;
          background: white;
          .goodsItemImg {
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }
          }
          .goodsItemName {
            width: 100%;
            text-align: center;
            padding: 0.1rem 0;
            box-sizing: border-box;
          }
          .goodsItemPrice {
            text-align: center;
            overflow: hidden;
            color: red;
            padding: 0.1rem 0;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
