.wrap section .tabWrap {
  position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

.wrap section .tabWrap .am-tabs-default-bar-content {
  width: 60%;
}

.wrap section .tabWrap .am-tabs-vertical.am-tabs-tab-bar-wrap {
  width: 1rem;
}

.wrap section .tabWrap .am-tabs-default-bar-tab {
  height: 0.64rem;
}

.wrap section .tabWrap .tabsItem {
  font-size: 0.28rem;
}

.wrap section .categoryDetail {
  padding: 0.2rem 0;
  margin-top: 0.64rem;
}

.wrap section .categoryDetail > div {
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
}

.wrap section .categoryDetail > div:nth-child(2) {
  color: gray;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.28rem;
}

.wrap section .goodsList {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.wrap section .goodsList .goodsItem {
  width: 50%;
  background: white;
  height: auto;
  padding: 0.2rem;
  position: relative;
}

.wrap section .goodsList .goodsItem .goodsItemImg {
  width: 100%;
  min-height: 2rem;
  height: auto;
}

.wrap section .goodsList .goodsItem .goodsItemImg img {
  width: 100%;
  height: auto;
}

.wrap section .goodsList .goodsItem .goodsItemName {
  text-align: center;
  font-size: 0.28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 0.3rem;
  padding-top: 0.1rem;
}

.wrap section .goodsList .goodsItem .goodsItemPrice {
  text-align: center;
  font-size: 0.28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: red;
}

.wrap section .goodsList .goodsItem:nth-child(2n + 1):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #f5f5f9;
  border-left-width: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: left top;
}

.wrap section .goodsList .goodsItem:nth-child(2n):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #f5f5f9;
  border-right-width: 2px;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: left top;
}
