.wrap {
  section {
    .tabWrap {
      position: fixed;
      top: 1rem;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 10;
      .am-tabs-default-bar-content {
        width: 60%;
        // height: 0.64rem;
      }
      .am-tabs-vertical.am-tabs-tab-bar-wrap {
        width: 1rem;
      }
      .am-tabs-default-bar-tab {
        height: 0.64rem;
      }
      .tabsItem {
        font-size: 0.28rem;
      }
    }
    .goodsListBox {
      flex: 1;
      margin-top: 0.7rem;
      padding-bottom: 0.7rem;
      overflow: hidden;
      .categoryDetail {
        padding: 0.2rem 0;

        margin-top: 0.64rem;
      }
      .categoryDetail > div {
        height: 0.6rem;
        line-height: 0.6rem;
        text-align: center;
      }
      .categoryDetail > div:nth-child(2) {
        color: gray;
        height: 0.5rem;
        line-height: 0.5rem;
        font-size: 0.28rem;
      }

      .goodsList {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        .goodsItem {
          width: 50%;
          flex-shrink: 0;
          background: white;
          height: auto;
          padding: 0.2rem;
          position: relative;
          .goodsItemImg {
            width: 100%;
            min-height: 2rem;
            height: auto;
            img {
              width: 100%;
              height: auto;
            }
          }
          .goodsItemName {
            width: 100%;
            text-align: center;
            font-size: 0.28rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-bottom: 0.3rem;
            padding-top: 0.1rem;
          }
          .goodsItemPrice {
            text-align: center;
            font-size: 0.28rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: red;
          }
        }
        .goodsItem:nth-child(2n + 1):after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid #f5f5f9;
          border-left-width: 2px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 200%;
          height: 200%;
          transform: scale(0.5);
          transform-origin: left top;
        }
        .goodsItem:nth-child(2n):after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid #f5f5f9;
          border-right-width: 2px;
          box-sizing: border-box;
          width: 200%;
          height: 200%;
          transform: scale(0.5);
          transform-origin: left top;
        }
      }
    }
  }
}
.channelClassifyBox {
  display: flex;
}
.goodsListBox {
  flex: 1;
  overflow: hidden;
}
