.wrap .channelClassifyBox {
  width: 100%;
  height: 100%;
  display: flex;
}

.wrap .channelClassifyBox .tabWrap {
  position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

.wrap .channelClassifyBox .tabWrap .am-tabs-vertical.am-tabs-tab-bar-wrap {
  width: 1rem;
}

.wrap .channelClassifyBox .tabWrap .am-tabs-default-bar-tab {
  height: 0.64rem;
}

.wrap .channelClassifyBox .tabWrap .tabsItem {
  font-size: 0.28rem;
}

.wrap .channelClassifyBox .goodsListBox {
  width: 100%;
  flex: 1;
  margin-top: 0.7rem;
  padding-bottom: 0.7rem;
  overflow: hidden;
}

.wrap .channelClassifyBox .goodsListBox .categoryDetail {
  padding: 0.2rem 0;
  margin-top: 0.64rem;
}

.wrap .channelClassifyBox .goodsListBox .categoryDetail > div {
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
}

.wrap .channelClassifyBox .goodsListBox .categoryDetail > div:nth-child(2) {
  color: gray;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.28rem;
}

.wrap .channelClassifyBox .goodsListBox .goodsList {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.goodsListBox {
  flex: 1;
  overflow: hidden;
}

.bcColor {
  flex-direction: column;
}
