.channel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.channel header {
  height: 1rem;
  background: #fff;
}

.channel .channelClassifyBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.channel .channelClassifyBox .tabWrap {
  width: 100%;
  height: auto;
  z-index: 10;
}

.channel .channelClassifyBox .tabWrap .am-tabs-vertical.am-tabs-tab-bar-wrap {
  width: 1rem;
}

.channel .channelClassifyBox .tabWrap .am-tabs-default-bar-tab {
  height: 0.64rem;
}

.channel .channelClassifyBox .tabWrap .tabsItem {
  font-size: 0.28rem;
}

.channel .channelClassifyBox .goodsListBox {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: scroll;
}

.channel .channelClassifyBox .goodsListBox div .categoryDetail {
  padding: 0.2rem 0;
  box-sizing: border-box;
}

.channel .channelClassifyBox .goodsListBox div .categoryDetail > div {
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
}

.channel .channelClassifyBox .goodsListBox div .categoryDetail > div:nth-child(2) {
  color: gray;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.28rem;
}

.channel .channelClassifyBox .goodsListBox .goodsList {
  display: flex;
  flex-wrap: wrap;
}

.channel .channelClassifyBox .goodsListBox .goodsList .goodsItem {
  width: 50%;
  background: white;
}

.channel .channelClassifyBox .goodsListBox .goodsList .goodsItem .goodsItemImg {
  width: 100%;
}

.channel .channelClassifyBox .goodsListBox .goodsList .goodsItem .goodsItemImg img {
  width: 100%;
  height: auto;
}

.channel .channelClassifyBox .goodsListBox .goodsList .goodsItem .goodsItemName {
  width: 100%;
  text-align: center;
  padding: 0.1rem 0;
  box-sizing: border-box;
}

.channel .channelClassifyBox .goodsListBox .goodsList .goodsItem .goodsItemPrice {
  text-align: center;
  overflow: hidden;
  color: red;
  padding: 0.1rem 0;
  box-sizing: border-box;
}
