.footer{
    display: flex;
    height: 0.7rem;
    width: 100%;
    box-shadow:0.01rem 0.01rem 0.05rem  #8888;
    background: #ffff   
}
a{
    text-decoration: none;
     color: #333333;
}
.footer li{
    width: 20%;
    text-align: center;
}