.anonym {
    box-sizing: border-box;
    padding: 0 0.2rem;
    background: #fff;
    li {
      // height: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        color: #666;
        font-size: 0.25rem;
      }
    }
    li:nth-child(1) {
      line-height: 0.6rem;
      
    }
    li:nth-child(2) {
      color: #666;
      line-height: 0.6rem;
      border-bottom: 0.01rem solid #ccc;
    }
  }