.bannerbox {
  width: 100%;
  .slide {
    height: 4rem;
    img {
      width: 100%;
      height: auto;
    }
  }
  .slider {
    height: 7.5rem;
    img {
      width: 100%;
      height: auto;
    }
  }
}