.bannerbox {
  width: 100%;
}

.bannerbox .slide {
  height: 4rem;
}

.bannerbox .slide img {
  width: 100%;
  height: auto;
}

.bannerbox .slider {
  height: 7.5rem;
}

.bannerbox .slider img {
  width: 100%;
  height: auto;
}
