.wrap {
  background: #fff;
  .wrap_top {
    width: 100%;
    text-align: center;
    img {
      width: 3.4rem;
      height: 1.2rem;
      margin: 2rem 0;
    }
  }
  .wrap_inp {
    width: 100%;
    text-align: center;
    input {
      width: 90%;
      height: 1rem;
      border: none;
      border-bottom: 1px solid #eee;
    }
    .inp {
      margin: 1.2rem 0;
    }
  }
  .wrap_btn {
    width: 100%;
    text-align: center;
    a {
      width: 90%;
      display: inline-block;
    }
  }
}
