.add_ress {
  width: 100%;
  height: 100%;
  flex: 1;
  background: #fff;
  .addressHeader {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    z-index: 9;
  }

  .onePx_bottom {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    input {
      border: none;
      width: 100%;
      height: 1rem;
      padding: 0 0.15rem;
      border-bottom: 0.01rem solid #eee;
    }
    p {
      padding: 0 0.15rem;
      border-bottom: 0.01rem solid #eee;
    }
    .isDefaultAddress {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1rem;
      line-height: 1rem;
      > img {
        margin-left: 0.1rem;
        width: 0.4rem;
        display: inline;
      }
    }
  }
}
.closeAddress {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    width: 50%;
  }
}
.sure_btn {
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.15rem;
  color: #108ee9;
}
