.wrap .addmessage {
  background: #f8f8f8;
}

.wrap .addmessage .inp {
  width: 100%;
  padding: 0.2rem 0.2rem;
  box-sizing: border-box;
}

.wrap .addmessage .inp textarea {
  width: 100%;
  height: 4rem;
  border: none;
}

.wrap .addmessage .inp span {
  position: absolute;
  top: 4.7rem;
  right: 0.35rem;
  color: #666;
}

.wrap .addmessage .btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
}

.wrap .addmessage .btn a {
  width: 2rem;
  height: 0.6rem;
  line-height: 0.6rem;
}
