.goodsBox {
  min-height: 100%;
  background: #f5f5f9;
  display: flex;
  flex-direction: column;
}

.wrap .goodsPage {
  display: flex;
  flex-direction: column;
}

.wrap .goodsPage .goodsTitle {
  height: 1rem;
  background: white;
  box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.wrap .goodsPage .goodsCont {
  flex: 1;
  overflow: scroll;
}

.wrap .goodsPage .goodsCont .imgBox-k {
  height: 2rem;
  width: 100%;
}

.wrap .goodsPage .goodsCont .imgBox-c {
  width: 100%;
  height: auto;
}

.wrap .goodsPage .goodsCont .serviceList {
  height: 0.8rem;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap .goodsPage .goodsCont .serviceList li {
  flex: 1 1;
  color: #666;
  font-size: 0.24rem;
  text-align: center;
}

.wrap .goodsPage .goodsCont .serviceList li span {
  color: red;
  margin-right: 0.15rem;
  font-size: 0.3rem;
}

.wrap .goodsPage .goodsCont .goodsWrap {
  background: 0.4rem;
  background: #ffff;
}

.wrap .goodsPage .goodsCont .goodsWrap .goodsNameTitle {
  font-size: 0.4rem;
  text-align: center;
  padding-bottom: 0.2rem;
}

.wrap .goodsPage .goodsCont .goodsWrap .goodsNameSubTitle {
  font-size: 0.3rem;
  color: #444;
  text-align: center;
  padding-bottom: 0.1rem;
}

.wrap .goodsPage .goodsCont .goodsWrap .goodsPriceTitle {
  font-size: 0.4rem;
  color: red;
  text-align: center;
  line-height: 1rem;
}

.wrap .goodsPage .goodsCont .goodsWrap .goodsBrandTitle {
  text-align: center;
}

.wrap .goodsPage .goodsCont .goodsWrap .goodsBrandTitle > div {
  font-size: 0.24rem;
  width: auto;
  padding: 0.1rem;
  color: orange;
  display: inline;
  border: 1px solid orange;
  border-radius: 0.1rem;
}

.wrap .goodsPage .goodsCont .goodsSize {
  margin-top: 0.02rem;
  height: 1rem;
  padding: 0 0.4rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap .goodsPage .goodsCont .goodsSize div:nth-child(1) {
  flex: 1;
  text-align: left;
  color: #2196f3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrap .goodsPage .goodsCont .goodsSize div:nth-child(2) {
  width: auto;
  padding: 0 0.1rem;
  text-align: right;
  color: red;
  font-weight: bolder;
}

.wrap .goodsPage .goodsCont .goodsSize div:nth-child(3) {
  width: auto;
  padding: 0 0.1rem;
  text-align: right;
}

.wrap .goodsPage .goodsCont .goodsComment {
  margin-top: 0.2rem;
  background: white;
}

.wrap .goodsPage .goodsCont .goodsComment .goodsCommentTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  padding: 0 0.4rem;
  border-bottom: 1px solid gainsboro;
}

.wrap .goodsPage .goodsCont .goodsComment .goodsCommentTitle div:nth-child(1) {
  flex: 1 1;
  text-align: left;
}

.wrap .goodsPage .goodsCont .goodsComment .goodsCommentTitle div:nth-child(2) {
  width: auto;
  text-align: right;
}

.wrap .goodsPage .goodsCont .goodsComment .commentList {
  background: white;
  padding: 0.2rem;
}

.wrap .goodsPage .goodsCont .goodscommodity {
  box-sizing: border-box;
  background: #fff;
}

.wrap .goodsPage .goodsCont .goodscommodity .goodsLine {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2196f3;
  padding: 0.1rem 0;
  line-height: 0.5rem;
  border-top: 0.1rem solid #f5f5f9;
}

.wrap .goodsPage .goodsCont .goodscommodity .goodsLine::after,
.wrap .goodsPage .goodsCont .goodscommodity .goodsLine::before {
  content: "";
  width: 0.4rem;
  height: 1px;
  background: #2196f3;
  margin: 0 0.2rem;
}

.wrap .goodsPage .goodsCont .goodscommodity .topicDetailImg p {
  margin-bottom: 0;
}

.wrap .goodsPage .goodsCont .goodscommodity .topicDetailImg img {
  width: 100%;
  height: auto;
  display: block;
}

.wrap .goodsPage .goodsCont .goodscommodity .problemWrap {
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}

.wrap .goodsPage .goodsCont .goodscommodity .problemWrap .problemLabel {
  font-size: 0.32rem;
  line-height: 0.6rem;
}

.wrap .goodsPage .goodsCont .goodscommodity .problemWrap .problemLabel span {
  color: red;
  margin-right: 0.1;
}

.wrap .goodsPage .goodsCont .goodscommodity .problemWrap .problemContent {
  color: gray;
  font-size: 0.3rem;
  line-height: 0.5rem;
}

.wrap .goodsPage .goodsCont .goodsList {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.wrap .goodsPage .goodsPageDo {
  width: 100%;
  height: 0.98rem;
  background: white;
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}

.wrap .goodsPage .goodsPageDo .isLike,
.wrap .goodsPage .goodsPageDo .cartNum {
  width: 20%;
  height: 100%;
}

.wrap .goodsPage .goodsPageDo .isLike {
  line-height: 0.98rem;
  font-size: 0.6rem;
  text-align: center;
  font-weight: bolder;
  font-size: 0.5rem;
  background: none;
}

.wrap .goodsPage .goodsPageDo .like {
  color: gold;
  line-height: 0.98rem;
  font-size: 0.6rem;
  text-align: center;
  font-weight: bolder;
  font-size: 0.5rem;
  border-right: 1px solid ghostwhite;
}

.wrap .goodsPage .goodsPageDo .cartNum {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2196f3;
}

.wrap .goodsPage .goodsPageDo .cartNum i {
  font-size: 0.5rem;
  position: relative;
}

.wrap .goodsPage .goodsPageDo .cartNum i span {
  position: absolute;
  font-size: 0.32rem;
  right: -0.2rem;
  top: -0.1rem;
  color: red;
  font-weight: bolder;
}

.wrap .goodsPage .goodsPageDo .addCart {
  background: linear-gradient(90deg, #ff9500, #ff5e3a);
  width: 30%;
  height: 100%;
  line-height: 0.98rem;
  text-align: center;
  font-size: 0.3rem;
  color: white;
}

.wrap .goodsPage .goodsPageDo .payGoods {
  background: linear-gradient(90deg, #1d62f0, #19d5fd);
  width: 30%;
  height: 100%;
  line-height: 0.98rem;
  text-align: center;
  font-size: 0.3rem;
  color: white;
}

.goodsPage .goodsAttributeList {
  margin-top: -0.2rem;
  padding: 0.2rem 0.4rem;
}

.goodsPage .goodsAttributeList .goodsAttributeItem {
  display: flex;
  align-items: center;
  line-height: 0.8rem;
  background: #dcdfe6;
  margin-top: 0.1rem;
}

.goodsPage .goodsAttributeList .goodsAttributeItem .attributeLabel {
  width: 2rem;
  color: gray;
  padding: 0 0.1rem;
  font-size: 0.32rem;
  text-align: center;
}

.goodsPage .goodsAttributeList .goodsAttributeItem .attributeContent {
  flex: 1;
  font-size: 0.3rem;
  line-height: 0.6rem;
  padding: 0 0.1rem;
}

.wrap .topicDetailImg img {
  width: 100%;
  height: auto;
  display: block;
}

.wrap .goodsSizeDo {
  padding: 0.4rem 0.2rem;
  background: white;
}

.wrap .goodsSizeDo .goodsSizeSetMsg {
  height: 100px;
  display: flex;
}

.wrap .goodsSizeDo .goodsSizeSetMsg img {
  width: 100px;
  height: 100px;
  display: block;
}

.wrap .goodsSizeDo .goodsSizeSetMsg .gooodsSizePriceAndSize {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0.1rem;
  flex: 1 1;
  height: 100%;
  font-size: 0.3rem;
  text-align: left;
}

.wrap .goodsSizeDo .goodsSizeSetMsg .gooodsSizePriceAndSize div {
  width: 100%;
  height: auto;
  line-height: 0.6rem;
}

.wrap .goodsSizeDo .goodsSizeSetMsg .gooodsSizePriceAndSize div span {
  color: red;
}

.wrap .goodsSizeDo .goodsSizeSetMsg .closeModel {
  width: auto;
  color: red;
}

.wrap .goodsSizeDo .goodsSizeWrap .goodsSizeItemName {
  text-align: left;
  color: black;
  padding: 0.1rem 0;
}

.wrap .goodsSizeDo .goodsSizeWrap .goodsSizeListWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wrap .goodsSizeDo .goodsSizeWrap .goodsSizeListWrap .goodsBuyCount {
  width: 4rem;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.wrap .goodsSizeDo .goodsSizeWrap .goodsSizeListWrap .goodsBuyCount div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap .goodsSizeDo .goodsSizeWrap .goodsSizeListWrap .goodsBuyCount div:nth-child(3) {
  width: 30%;
  border: 1px solid #ededed;
}

.wrap .goodsSizeDo .goodsSizeWrap .goodsSizeListWrap .goodsBuyCount div:nth-child(2) {
  width: 40%;
  border: 1px solid #ededed;
}

.wrap .goodsSizeDo .goodsSizeWrap .goodsSizeListWrap .goodsBuyCount div:nth-child(1) {
  width: 30%;
  border: 1px solid #ededed;
}

.wrap .goodsSizeDo .goodsSizeWrap .goodsSizeListWrap .goodsBuyCount .position {
  position: relative;
}

.wrap .goodsSizeDo .goodsSizeWrap .goodsSizeListWrap .goodsSizeListItem {
  font-size: 0.3rem;
  padding: 0.05rem 0.1rem;
  margin-right: 0.1rem;
  border: 1px solid gray;
  margin-top: 0.1rem;
}

.wrap .goodsSizeDo .goodsSizeWrap .active {
  color: #2196f3;
  font-size: 0.3rem;
  padding: 0.05rem 0.1rem;
  margin-right: 0.1rem;
  border: 1px solid #2196f3;
  margin-top: 0.1rem;
}

.wrap .goodsDoWrap {
  height: 1rem;
  display: flex;
}

.wrap .goodsDoWrap div {
  width: 50%;
  color: white;
  line-height: 1rem;
}

.wrap .goodsDoWrap div:nth-child(1) {
  background: linear-gradient(90deg, #ff9500, #ff5e3a);
}

.wrap .goodsDoWrap div:nth-child(2) {
  background: linear-gradient(90deg, #1d62f0, #19d5fd);
}
