.noTabPageContent {
  background: #f5f5f9;
  flex-direction: column;
}

.wrap .brandDetail {
  width: 100%;
  font-size: 0.28rem;
  background: #ffff;
}

.wrap .brandDetail .breadDesc {
  width: 100%;
  box-sizing: border-box;
  line-height: 0.4rem;
  padding: 0.4rem;
  background: white;
  text-indent: 2em;
  color: gray;
}

.wrap .brandDetail .imgLazyload {
  opacity: 1;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 4.3rem;
}
